* {
	margin: 0;
}

body {
	margin: 0;
	height: 100%;
}

.mainWrapper {
	width: 100%;
	min-height: 100%;
	margin-bottom: -25px;
}

.mainWrapper:after {
	content: "";
	display: block;
}

.header {
	width: 100%;
	height: 58px;

	color: black;
	font-family: raleway;

	background-color: white;
	margin: 0px;

	position: relative;
	z-index: 1;

	box-shadow: 0px 2px 3px #777;
}

.menu-btn {
	display: none;
}

.logo {
	width: 180px;
	height: 40px;
	margin: 10px 10px;
}

.header ul {
	padding: 7px;
	font-weight: 400;

	float: right;
	width: 500px;
	height: auto;
	margin: 16px auto;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}

.header a {
	text-decoration: none;
	color: black;
	padding: 5px;
	transition: .3s;
	border-radius: 5px;
	border: 2px solid white;
}

.header a:hover {
	text-shadow: 2px 2px 1px #bfbfbf;
	margin-left: -2px;
}

/*MAIN CONTENT ---------------------------------------------------------------*/

.mainContent {
	width: 100%;
	height: auto;
}

.section {
	width: 100%;
	min-height: 832px;
	background-position: top left;
}

#titleSection {
	background-image: url('laptopWorkdesk.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.indexBox {
	margin: 3% 0% 0% 5%;
	width: 30%;
	position: absolute;

	font-family: raleway;
}

.indexBoxText h1 {
	padding: 0px 15px 0px 0px;
	margin-bottom: 10px;

	font-weight: 400;
	font-size: 3em;
	color: #555;
}

.indexBoxText p {
	padding: 15px 15px 10px 0px;

	color: #666;
  font-size: 1.2em;
}

.indexNav {
	margin: 400px 0% 0% 3%;
	width: 30%;
	position: absolute;

	font-family: raleway;
}

.indexNav ul {
	font-size: 1.3em;
	list-style: none;
}

.indexNav li {
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	background-color: rgba(255,255,255,.8);
	box-shadow: 1px 1px 5px rgba(0,0,0,.6);
	text-align: center;
	color: #555;
	transition: .5s;
}

.indexHR, .indexParagraph, .indexProject, .contactParagraph {
	display: none;
}

.iconSmall {
	margin: 15px 5px -4px 0px;
	max-width: 25px;
	height: auto;
}

.indexNav li:hover {
	background-color: #fff;
	transition: .5s;
}

.indexNav a {
	text-decoration: none;
}

/*ABOUT ----------------------------------------------------------------------*/

#aboutSection {
	height: 1300px;
}

.aboutBox {
	width: 30%;
	margin: 6% 0% 0% 11%;
	position: absolute;

	color: #666;
	font-family: raleway;
}

.aboutBox h1 {
	padding: 15px 0px;
	margin: 0px;
	font-weight: 400;
	font-size: 2.5em;
}

.aboutBox p {
	padding: 15px 0px;
	margin-bottom: 75px;

	font-size: 1.2em;
}

.bioPicWrapper {
	width: 45%;
	float: right;
	margin: 7% -500px 0% 0%;
}

.bioPic {
	width: 40%;
	height: auto;
	margin: 0px 55px 55px 0px;

}

/*PROJECTS -------------------------------------------------------------------*/

#projectSection {
	background-image: url('projectBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.projectHeader {
	display: inline-block;
	padding: 15px;
	height: auto;

	font-family: raleway;
	color: white;
}

.projectHeader h1 {
	margin: 160px auto 30px;

	text-align: center;
	font-size: 3.5em;

	font-weight: normal;

	text-shadow: 2px 2px 1px black;
}

.projectHeader p {
	margin: 30px auto;
	text-align: center;
	width: 40%;

	font-size: 1.3em;

	text-shadow: 1px 1px 1px black;
}

.harvestrWrapper {
	background-color: white;
	width: 100%;
	height: auto;

	font-family: raleway;
	text-align: center;

	color: rgb(80, 80, 80);
}

.harvestrWrapper h1 {
	padding: 50px 0px 20px 0px;

	font-size: 6em;
}

.harvestrWrapper p {
	font-size: 1.3em;
	margin: 0px auto;
	padding: 20px;
}

.harvestrHeader {
	width: 40%;
	text-align: center;
	margin: 0px auto;
}

.harvestrImages {
	display: flex;
	justify-content: space-around;
	max-height: 400px;

	padding: 30px;
}

.harvestrImage {
	max-width: 550px;
	height: auto;
}

.harvestrTextsWrapper {
	display: flex;
	justify-content: space-around;
}

.harvestInfo {
	text-align: left;
	width: 40%;
}

#projectSectionMyLeague {
	background-image: url('jhin_wallpaper.fw.png');
    background-repeat: no-repeat;
    background-position: center;
}

/*CONTACT --------------------------------------------------------------------*/

#contactSection {
	background-image: url("projectBackground.jpg");
}

.contactBox {
	position: absolute;
	margin: 150px 35%;
	padding: 30px;
	width: 30%;
	height: auto;
	font-family: raleway;
	color: #666;
	text-align: center;
}

.contactBox h1 {
	font-size: 4em;
	font-weight: normal;
}

.contactBox p {
	margin: 30px auto;
	font-size: 2em;
}


/*FOOTER ---------------------------------------------------------------------*/

.footer {
	position: relative;
	height: 25px;
	padding: 5px;


	background-color: white;
	color: black;

	font-family: raleway;
	font-size: .85em;
}

/*RESPONSIVE HEADER ----------------------------------------------------------*/

@media (max-width: 1024px) {
	.header {
		background-color: #fff;
		position: fixed;
		z-index: 3;
		height: auto;
		margin: 0px auto;
		text-align: center;
	}

	.header p {
	  display: none;
	}

	.header ul {
	  display: block;
	  margin: 0 auto;
	  padding: 0;
	  overflow: hidden;
	  background-color: #fff;
		float: none;
		width: 100%;
	}

	.header li {
		margin: 20px auto;
	}

	.header li:hover {
		border: none;
		box-shadow: none;
	}

	.header li a {
		height: auto;
		padding: 5px 5px 5px 5px;
		border: none;

		width: 100%;
		text-align: center;

		font-size: 1.5em;
	}

	.header {
		padding: 15px 20px;
		text-decoration: none;
		margin: -28px 0px 0px 0px;
	}

	.logo {
		float: left;
		margin: 28px 0px 0px -10px;
	}

	.header .nav_holder {
	  clear: both;
	  max-height: 0;
	  transition: max-height .2s ease-out;
	}

	.header .menu-icon {
	  cursor: pointer;
	  display: inline-block;
	  float: right;
	  margin: 36px 36px 0px 0px;
	  position: relative;
	  user-select: none;
	}

	/* Hamburger Icon ----------------------------------*/

	.header .menu-icon .navicon {
	  background: #000;
	  display: block;
	  height: 3px;
	  position: relative;
	  transition: background .2s ease-out;
	  width: 40px;

	  margin-top: 10px;
	  border-radius: 20px 20px 20px 20px;
	}

	.header .menu-icon .navicon:before,
	.header .menu-icon .navicon:after {
	  background: #000;
	  content: '';
	  display: block;
	  height: 100%;
	  position: absolute;
	  transition: all .2s ease-out;
	  width: 100%;
	}


	/*Individual lines top and bottom*/

	.header .menu-icon .navicon:before {
	  top: 10px;
	  border-radius: 20px 20px 20px 20px;
	}

	.header .menu-icon .navicon:after {
	  top: -10px;
	  border-radius: 20px 20px 20px 20px;
	}

	.header .menu-btn {
	  display: none;
	}

	.header .menu-btn:checked ~ .nav_holder {
	  max-height: 400px;
	}

	.header .menu-btn:checked ~ .menu-icon .navicon {
	  background: transparent;
	}

	.header .menu-btn:checked ~ .menu-icon .navicon:before {
	  transform: rotate(-45deg);
	}

	.header .menu-btn:checked ~ .menu-icon .navicon:after {
	  transform: rotate(45deg);
	}

	.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	  top: 0;
	}

	.titleBox p {
		width: 80%;
	}

	#projectHeader p {
		width: 80%;
	}

	.fadingLine, .fadingLineMain {
		display: none;
	}
}

/*Media Queries --------------------------------------------------------------*/

/*Smaller Desktop -----------------------------*/
@media (max-width: 1620px) {
	#titleSection {
		background-image: url("background.jpg");
	}
	.indexBox {
		background-color: #fff;
		padding: 20px;
	}
	.indexNav {
		width: 50%;
		position: static;
		float: right;
		margin:	1.5% -430px 0% 0%;
	}
	.indexNav li {
		box-shadow: none;
		margin-bottom: 50px;
		background-color: #fff;
		padding: 10px 15px;
		text-align: left;
		font-size: 1.4em;
	}
	.indexParagraph {
		padding: 5px 0px;
		display: block;
		font-size: .7em;
	}
	.indexHR {
		color: #ddd;
		display: block;
		margin: 10px 0px 10px;
	}
	.indexProjects {
		padding: 10px 0px 10px;
		display: flex;
		justify-content: space-around;
	}
	.indexProject {
		display: inherit;
		width: 27%;
		height: auto;
		align-self: center;
	}
	.contactParagraph {
		display: block;
	}

	/*About Page*/
	.bioPicWrapper {
		margin: 7% -500px;
		width: 50%;
	}
	.bioPic {
		width: 42%;
	}
}

@media (max-width: 1447px) {
	#aboutSection {
		height: 2200px;
	}
	.aboutBox {
		width: 45%;
	}
	.bioPic {
		margin: 0 200px 50px;
		width: 60%;
		display: block;
	}
}


/*Tablet Size -----------------------------*/
@media (max-width: 1024px)  {
	#titleSection {
		background-position: left;
		background-attachment: fixed;
		background-repeat: repeat-y;
		height: 1800px;
	}
	.indexBox, .indexNav {
		width: 80%;
		margin: 100px 12% 0px 7%;
		background: none;
		color: #eee;
	}
	.indexBox h1, .indexBox p {
		color: #eee;
	}
	.indexNav {
		margin-top: 500px;
	}
	.indexNav ul {
		padding: 0px;
	}
	.indexNav li {
		margin: 100px auto;
		background: none;
		color: #eee;
	}
	.footer {
		display: none;
	}
	.indexNav li:hover {
		background: none;
		box-shadow: none;
	}

	/*About Page*/
	.aboutBox {
		margin-top: 15%;
		width: 45%;
	}
	.bioPicWrapper {
		margin: 15% 10%;
	}
	.bioPic {
		margin: 0 200px 50px;
		width: 60%;
		display: block;
	}

	/*Contact Page*/
	.contactBox {
		width: 50%;
		margin-left: 21%;
	}
}


/*Phone Size -----------------------------*/
@media (max-width: 720px) {
	#titleSection {
		background-position: left;
		background-attachment: fixed;
		background-repeat: repeat-y;
		height: 2700px;
	}
	.indexNav {
		margin-top: 625px;
	}
	.indexProjects {
		display: block;
	}
	.indexProject {
		width: 100%;
		display: block;
		margin: 20px auto 80px;
	}
	.contactParagraph {
		width: 100%;
		font-size: .8em;
		line-height: 30px;
	}
	.contactParagraph img {
		display: none;
	}

	/*About Page*/
	#aboutSection {
		height: 1000px;
	}
	.aboutBox {
		width: 80%;
		margin-top: 40%;
	}
	.bioPicWrapper {
		position: static;
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 70px auto;
	}
	.bioPic {
		align-self: center;
		margin: 0px auto;
		width: 25%;
		display: block;
	}

	/*Contact Page*/
	.contactBox {
		margin-left: 8%;
		width: 75%;
		background: none;
		box-shadow: none;
		color: #fff;
		text-shadow: 1px 1px 3px #666;
	}
}

@media (max-width: 550px) {
	.aboutBox {
		margin-top: 50%;
	}
}

@media (max-width: 540px) {
	.contactBox {
		width: 85%;
		margin-left: 2%;
		margin-right: 0px;
		padding: 0px 0px 0px 15px;
	}
	.contactBox h1 {
		font-size: 2.5em;
	}
	.contactBox p {
		font-size: 1.5em;
	}
}

/*Miscellaneous CSS ----------------------------------------------------------*/

.fadingLine {
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    width: 35%;
    margin: 0px auto;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(rgba(0,0,0,0)));
}

.fadingLineMain {
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    width: 100%;
    margin: 0px auto;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(rgba(0,0,0,0)));
}
