* {
	margin: 0;
}

body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.mainWrapper {
	width: 100%;
	min-height: 100%;
	margin-bottom: -25px;
}

.mainWrapper:after {
	content: "";
	display: block;
}

.header {
	width: 100%;
	height: 63px;

	color: black;
	font-family: raleway;
	font-weight: bold;

	background-color: white;
	margin: 0px;

	position: relative;
	z-index: 1;

	box-shadow: 2px 2px 5px black;
}

.menu-btn {
	display: none;
}


.logo {
	float: left;
	width: auto;
	height: auto;

	font-size: 2.3em;
	font-weight: normal;
	line-height: 35px;

	margin: 13px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.header ul {
	padding: 7px;

	float: right;
	width: 500px;
	height: auto;
	margin: 20px auto;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}

.header a {
	text-decoration: none;
	color: black;
	padding: 5px;
	transition: .3s;
	border-radius: 5px;
	border: 2px solid white;
}

.header a:hover {
	text-shadow: 2px 2px 1px #bfbfbf;
	margin-left: -2px;
}




/*MAIN CONTENT*/




.mainContent {
	width: 100%;
	height: auto;
}

.section {
	width: 100%;
	min-height: 832px;
	background-position: top left;
}

.fadingLine { 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    width: 35%;
    margin: 0px auto;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(rgba(0,0,0,0)));
}

#titleSection {
	background-image: url('devBackground.png');
    background-repeat: no-repeat;
    background-position: center;
}

.titleBox {
	display: inline-block;
	padding: 15px;
	margin-left: 25%;
	max-width: 950px;
	height: 300px;
	

	font-family: raleway;
	color: black;
	border-radius: 160px 160px 160px 160px;
}

.myPic {
	width: 300px;
	height: 300px;
	border-radius: 300px;

	margin: 0 auto;
	float: left;

	padding-right: 10px;
}

.vertLine {
	width: 1px;
	height: 300px;

	margin: 0px 20px 0px 307px;
	padding-right: ;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#fff), to(rgba(0,0,0,0)));
	position: absolute;
}

.titleText h1 {
	padding: 10px 15px 10px 10px;

	font-size: 3em;
	text-shadow: 1px 1px 3px black;
	text-align: center;
	color: white;
}

.titleText p {
	padding: 10px 20px 0px 30px;

    font-size: 1.2em;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    color: white;
}





/*PROJECTS*/

#projectSection {
	background-image: url('devBackground.png');
    background-repeat: no-repeat;
    background-position: center;
}

.projectHeader {
	display: inline-block;
	padding: 15px;
	height: auto;
	
	font-family: raleway;
	color: white;
}

.projectHeader h1 {
	margin: 160px auto 30px;

	text-align: center;
	font-size: 3.5em;

	font-weight: normal;

	text-shadow: 2px 2px 1px black;
}

.projectHeader p {
	margin: 30px auto;
	text-align: center;
	width: 40%;

	font-size: 1.3em;

	text-shadow: 1px 1px 1px black;
}

.harvestrWrapper {
	background-color: white;
	width: 100%;
	height: auto;

	font-family: raleway;
	text-align: center;

	color: rgb(80, 80, 80);
}

.harvestrWrapper h1 {
	padding: 50px 0px 20px 0px;

	font-size: 6em;
}

.harvestrWrapper p {
	font-size: 1.3em;
	margin: 0px auto;
	padding: 20px;
}

.harvestrHeader {
	width: 40%;
	text-align: center;
	margin: 0px auto;
}

.harvestrImages {
	display: flex;
	justify-content: space-around;
	max-height: 400px;

	padding: 30px;
}

.harvestrImage {
	max-width: 550px;
	height: auto;
}

.harvestrTextsWrapper {
	display: flex;
	justify-content: space-around;
}

.harvestInfo {
	text-align: left;
	width: 40%;
}

#projectSectionMyLeague {
	background-image: url('jhin_wallpaper.fw.png');
    background-repeat: no-repeat;
    background-position: center;
}




/*CONTACT*/

.contactBox {
	padding: 15px;
	height: auto;
	
	font-family: raleway;
	color: white;
}

.contactBox h1 {
	margin: 160px auto 30px;

	text-align: center;
	font-size: 3.5em;

	font-weight: normal;

	text-shadow: 2px 2px 1px black;
}

.contactBox p {
	margin: 30px auto;
	text-align: center;
	width: 40%;

	font-size: 1.7em;

	text-shadow: 1px 1px 1px black;
}




/*ABOUT*/



/*FOOTER*/

.footer {
	position: relative;
	height: 25px;
	padding: 5px;


	background-color: white;
	color: black;

	font-family: raleway;
	font-size: .85em;
}













/*RESPONSIVE HEADER*/

@media (max-width: 1024px) {
	
	body {
		margin-top: -26px;
	}

	.header {
		background-color: #fff;
		position: fixed;
		width: 100%;
		z-index: 3;
		height: auto;
	}
	
	.header p {
	  display: none;
	}

	.header ul {
	  display: block;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  overflow: hidden;
	  background-color: #fff;
	}

	.header li {
		min-width: 100%;
		margin: 20px auto;
	}

	.header li:hover {
		border: none;
		box-shadow: none;
	}

	.header li a {
		width: 100%;
		height: auto;
		padding: 5px 5px 5px 5px;
		border: none;

		text-align: center;

		font-size: 2em;
	}
	
	.header {
		display: block;
		float: left;
		padding: 15px 20px;
		text-decoration: none;
		width: 100%;
	}

	.logo {
		float: left;

		font-size: 2.3em;
		font-weight: normal;
		line-height: 35px;

		margin: 28px 0px 0px -10px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}
	 
	.header .nav_holder {
	  clear: both;
	  max-height: 0;
	  transition: max-height .2s ease-out;
	}

	.header .menu-icon {
	  cursor: pointer;
	  display: inline-block;
	  float: right;
	  margin: 36px 36px 0px 0px;
	  position: relative;
	  user-select: none;
	}
	
	/* Hamburger Icon */

	.header .menu-icon .navicon {
	  background: #000;
	  display: block;
	  height: 3px;
	  position: relative;
	  transition: background .2s ease-out;
	  width: 40px;

	  margin-top: 10px;
	  border-radius: 20px 20px 20px 20px;
	}
	 
	.header .menu-icon .navicon:before,
	.header .menu-icon .navicon:after {
	  background: #000;
	  content: '';
	  display: block;
	  height: 100%;
	  position: absolute;
	  transition: all .2s ease-out;
	  width: 100%;
	}
	 

	/*Individual lines top and bottom*/

	.header .menu-icon .navicon:before {
	  top: 10px;
	  border-radius: 20px 20px 20px 20px;
	}
	 
	.header .menu-icon .navicon:after {
	  top: -10px;
	  border-radius: 20px 20px 20px 20px;
	}

	.header .menu-btn {
	  display: none;
	}
	 
	.header .menu-btn:checked ~ .nav_holder {
	  max-height: 400px;
	}
	 
	.header .menu-btn:checked ~ .menu-icon .navicon {
	  background: transparent;
	}
	 
	.header .menu-btn:checked ~ .menu-icon .navicon:before {
	  transform: rotate(-45deg);
	}
	 
	.header .menu-btn:checked ~ .menu-icon .navicon:after {
	  transform: rotate(45deg);
	}
	 
	.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	  top: 0;
	}
}